*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Quicksand",sans-serif;
    background: sticky;
    color: #333;   
}

.hero {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 60px 80px;
    background-color: #f2f2f2;
}

.hero-left h1 {
    font-size: 60px;
    font-weight: 700 ;
}

.color-change {
    font-size: 55px;
    font-weight: 700;
    animation: colorLoop 3s infinite linear;
}


@keyframes colorLoop {
    0%   { color: #ffcc00; }   
    25%  { color: #ff5733; }   
    50%  { color: #1e90ff; }   
    75%  { color: #28a745; }   
    100% { color: #ffcc00; }   
  }

.hero-left p {
    margin-top: 10px;
    font-size: 18px;
}

.hero-right img {
    width: 300px;
}


header {
   background-color: rgb(46, 46, 235); 
   color: rgb(255, 252, 252);
   position: relative;
   top: 0;
   padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: end;
  align-content: center;
  gap: 40px;
}

nav a {
  color: rgb(255, 255, 255); 
  text-decoration: none; 
  font-weight: 600; 
  padding: 5px 10px;
}


section { 
  padding: 40px 20px; 
}

h1 , h2 {
    
  margin-bottom: 10px;
  align-items: center;
  align-content: center;
  text-align: start;
}

p , p1 { 
   color: #222;
   font-size: 16px;
}


.profile-photo {
  border-radius: 50%;
  border: 2px solid #2b2d42;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

 img {
  border-radius: 10px;
  width: 150px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin-top: 10px;
}

.projects-section {  
    padding-left: 60px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:rgba(46, 46, 235); 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
  text-align: center;
}


#topBtn a {
  color: white;
  text-decoration: none;
}

.walter {
  background-color:rgba(46, 46, 235);
  height: 30px;
  color: white;
  text-align: center;
}

.skills-section {
    text-align: left;
    padding: 40px 60px;
}

.skills-section h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.skill-card {
    background-color: #0a3dbb;
    width: 30%;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card h3 {
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 700;
}

.skill-card p {
    margin-top: 5px;
    font-size: 16px;
    color: white;
}

.skill-card:hover {
    transform: scale(1.06);
    box-shadow: 0 0  20px 2px  rgb(224, 68, 224);
}

.contact-section {
    padding: 40px 60px;
}

.contact-section h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.contact-box {
    width: 380px;
    margin: auto;
    padding: 25px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.contact-box form {
    display: flex;
    flex-direction: column;    
    gap: 15px;
}


.contact-box label {
    display: block;           
    font-weight: 600;
    margin-bottom: 5px;
}

.contact-box input,
.contact-box textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #0a3dbb;
    outline: none;
}


.project-card {
    width: 30%;
    padding: 15px;
    background: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


.project-img {
    width: 100%;
    height: 100%;        
    overflow: hidden;      
    border-radius: 15px;
}

.project-img img {
    width: 100%;
    height: 200%;
    object-fit: cover;   
    display: block;
    border-radius: 15px;
    transition: transform 0.4s ease;
}

.project-img:hover img {
    transform: scale(1.05);
}


.fade-project .img-box {
    position: relative;
    width: 100%;
    height: 200px;  
    overflow: hidden;
    border-radius: 15px;
}

.fade-project .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0;
    animation: fadeSwap 6s infinite;
}


.fade-project .img-box .img-1 {
    animation-delay: 0s;
}

.fade-project .img-box .img-2 {
    animation-delay: 3s;
}

@keyframes fadeSwap {
    0% { opacity: 1; }
    40% { opacity: 1; }
    50% { opacity: 0; }
    90% { opacity: 0; }
    100% { opacity: 1; }
}


.send-btn {
    background: #0a3dbb;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.send-btn:hover {
    background: #072d8a;
}


@media (max-width: 500px) {


    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }
    .hero-right img {
        width: 180px;
    }


    .skills-container {
        flex-direction: column;
        gap: 15px;
    }
    .skill-card {
        width: 100%;
    }


    .project-card {
        width: 100%;
        margin-bottom: 20px;
    }
    .project-img {
        height: 200px;  
    }

    .contact-box {
        width: 90%;
        margin: auto;
    }
}

